@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

.drop {
    background-color: cornflowerblue;
    border-radius: 3rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vh;


}

.SELECT {
    width: 30vh;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1rem;
    font-weight: 600;
    background-color: coral;

}

.menu {
    margin-left: 30vh;
    margin-right: auto;
    list-style: none;
}


.accordion {
    width: 100vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    border-radius: 1rem;
    background-color: darkturquoise;
    text-align: center;



}

.accordion__header {
    cursor: pointer;

}

.accordion__content {
    display: none;
    background-color: pink;
}

.accordion__item.active .accordion__content {
    display: block;
}

.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal__content {
    background-color: #fff;
    margin: 20% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    max-width: 500px;
    position: relative;
}

.modal__close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}

.modal__button {
    margin-left: 45vh;
    margin-top: 3rem;
    width: 5rem;
    height: 3rem;
    border-radius: 1rem;
    background-color: lightblue;

}

.modal__title {
    margin-top: 0;
}

.modal__text {
    margin-bottom: 0;
}